@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gloock&family=Zilla+Slab&display=swap");

:root {
  --base-color: #344e41;
  --sub-base-color: #588157;
  --sub-color: #a3b18a;
  --text-color: #dad7cd;
  --base-p-fs: calc(1rem + 1vw);
  --base-header-fs: calc(1.1rem + 1.2vw);
  --app-h2-fs: calc(0.6rem + 0.6vw);
  --logo-width: max(35px, 30%);
  --base-header-ff: "Gloock", sans-serif;
  --base-paragraph-ff: "Nanum Myeongjo", sans-serif;
  --base-margin: 0.2em 0.6em;
  --base-padding: 0.4em 0.6em;
  --box-shadow: 5px 10px 30px black;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: grid;
  justify-items: center;
  align-items: center;
  background-color: var(--base-color);
}

.form-container {
  /* border: 1px solid red; */
  height: 40%;
  width: 35vw;
  background-color: dimgrey;
}

form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.form-element-container {
  border: 2px solid var(--sub-color);
  height: 15%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-element-container label {
  margin: 0em 0.3em;
  font-size: calc(0.6rem + 0.7vw);
}

input:valid {
  border: 4px solid green;
}

input:focus:invalid {
  border: 4px solid red;
  background-color: pink;
  outline: none;
}

.form-btn {
  color: white;
  background-color: var(--base-color);
  border: none;
  padding: 0.6em 1em;
  border-radius: 0.5em;
  margin: 0.3em 0em;
  cursor: pointer;
}

.form-btn:hover {
  scale: 1.1;
}
